{% extends 'core/base.html' %} 
{% block head_title %}Bank project{% endblock %} 
{% endblock %} 
{% block content %}

<div>
    <h1>{{ title }}</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="amount">
                Total
            </label>
            <input name="amount" id="amount" type="number" required placeholder="Total">
        </div>
        {% if form.amount.errors %} 
            {% for error in form.amount.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %} 
        {% endif %}
        <button type="submit">
            <p>Submit</p>
        </button>
    </form>   
</div>
{% endblock %}