@import url(./main.css);
.header-container {
    padding: 2rem 8rem;
    background: var(--oxford-blue);
    color: var(--platinum);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-weight: 600;
    font-size: 1.2rem;
    cursor: default;
    color: var(--orange-web);
}
.navbar-links {
    display: flex;
}
.navbar-link {
    margin-right: 1rem;
}