{% extends 'core/base.html' %} 
{% load static %} 
{% block head_title %}Bank project{% endblock %} 
{% block content %} 
{% if form.non_field_errors %} 
    {% for error in form.non_field_errors %}
        <p class="error">{{ error }}</p>
    {% endfor %} 
{% endif %}
<form method="post">
    {% csrf_token %} 
    {% for hidden_field in form.hidden_fields %} 
    {{ hidden_field.errors }} 
    {{ hidden_field }} 
    {% endfor %} 
    {% for field in form.visible_fields %}
    <div>
        <label for="{{ field.id_for_label }}">
            {{ field.label }}
        </label>
        <input name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.widget_type }}">
    </div>
    {% if field.errors %} 
        {% for error in field.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %} 
        {% endif %} 
    {% endfor %}

    <button type="submit">
        <p>Sing in</p>
    </button>
</form>
{% endblock %}