{% extends 'core/base.html' %} {% load static %} {% block head_title %}Banking System{% endblock %} {% block content %}

<!-- тут тело странички -->

<div>
    <h1>Test</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem labore accusantium recusandae eius assumenda odit unde asperiores, consequuntur nulla ducimus perferendis sint ex esse debitis minima necessitatibus rerum fugiat eum?
    Ipsam dolores dolorem consectetur? Aliquam, commodi molestiae veritatis quam expedita suscipit fugiat tenetur eveniet at, mollitia provident accusamus eaque tempora sit laborum fugit culpa error minima corporis, illum saepe inventore?</p>
</div>

{% endblock %}