{% extends 'core/base.html' %} 
{% load humanize %} 
{% block head_title %}Profile{% endblock %} 
{% block content %}
<div class="my-10 py-3 px-4 bg-white rounded-xl shadow-md">
    <h1>Profile</h1>
    <form method="get" id="filter">
        <div>
            <input type="search" name="daterange" id="search" placeholder="Filter using date range" autocomplete="off" value="{{ request.GET.daterange}}" />
            <button type="submit">
                <p>123</p>
            </button>
        </div>
        {% if form.daterange.errors %} 
            {% for error in form.daterange.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %} 
        {% endif %}
    </form>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Total</th>
                <th>Balance After</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in object_list %}
            <tr>
                <td>{{ transaction.timestamp|date:"F d, Y h:i A" }}</td>
                <td">{{ transaction.get_transaction_type_display }}</td>
                <td>$ {{ transaction.amount|floatformat:2|intcomma }}</td>
                <td>$ {{ transaction.balance_after_transaction|floatformat:2|intcomma }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th>Balance</th>
                <th>$ {{ account.balance|floatformat:2|intcomma }}</th>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %} 
<!-- {% block footer_extra %}
<script type="text/javascript">
    var def_date = '{{request.GET.daterange}}'
    def_date = def_date == "" ? moment().format("Y-MM-DD") + " - " + moment().format("Y-MM-DD") : def_date
    var date_split = def_date.split(" - ")
    var start_date = moment(date_split[0]).format("MM/DD/Y")
    var end_date = moment(date_split[1]).format("MM/DD/Y")
    console.log(start_date, end_date)
    $(function() {
        $('input[name="daterange"]').daterangepicker({
            autoUpdateInput: false,
            startDate: start_date,
            endDate: end_date,
            locale: {
                cancelLabel: "Clear",
            },
        });

        $('input[name="daterange"]').on("apply.daterangepicker", function(ev, picker) {
            $(this).val(picker.startDate.format("YYYY-MM-DD") + " - " + picker.endDate.format("YYYY-MM-DD"));
            $('#filter').submit()
        });

        $('input[name="daterange"]').on("cancel.daterangepicker", function(ev, picker) {
            $(this).val("");
            $('#filter').submit()
        });
    });
</script>
{% endblock %} -->